.bk-cover {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201109/pngtree-abstract-sticky-note-mokeup-with-plant-shadow-background-image_466346.jpg");
    height: 300px;
}

.sticky-notes-title {
    color: red;
    padding: 20px 0 20px 0;
}

.card {
    margin-top: 20px;
}

.active {
    background-color: white;
    color: black !important;
    padding:10px !important;
}