<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Page Title </title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Wallet System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link " th:classappend="${urlPath=='/' ? 'active' : '' }" aria-current="page" th:href="@{/}">Dashboard</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" th:classappend="${urlPath=='/note' ? 'active' : '' }" aria-current="page" th:href="@{/note}">My Notes</a>
        </li>
        <li  class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
          <a class="nav-link" th:classappend="${urlPath=='/users' ? 'active' : '' }" aria-current="page" th:href="@{/users}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${urlPath=='/about' ? 'active' : '' }" aria-current="page" th:href="@{/about}">about</a>
        </li>
      </ul>
      <ul class="d-flex navbar-nav">
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" aria-current="page" href="#">Profile</a>
        </li>
        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <a class="nav-link" aria-current="page" th:href="@{/}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- ./ Navbar -->
<div class="container">
  <div class="row">
    <div class="col-12 bk-cover"></div>
  </div>
  <h3 class="sticky-notes-title">
    <span layout:fragment="page-name"></span>
  </h3>
  <div layout:fragment="content">

  </div>
</div>
</body>

</div>
</html>